button{
  border: none;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dashboard {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #134B70;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top, .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.top {
  height: 50px;
}

.bottom {
  height: 50px;
}

.center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.slider-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.slider-btn {
  background-color: #201E43;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

#slider {
  width: 160px;
  height: 160px;
  margin: 0 25px;;
}
.status-indicators {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.rs-control .rs-tooltip  {
  font-size: 1.5em;
}

.rs-control .rs-range-color {
  background-color: #201E43;
}

.rs-control .rs-bg-color {
  background-color: #134B70;
}

.status-icon {
  width: 60px;
  height: 60px;
  background-color: #e9f5ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #201E43;
  font-size: 1.5em;
  cursor: pointer;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

.current-status {
  height: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.current-temp, .lamp-status {
  margin: 0 30px;
  width: 40%;
  background-color: #201E43 ;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2em;
}

.current-temp i {
  margin-right: 5px;
}

.lamp-status i{
  margin-right: 5px;
  font-size: 1.5em;
}

.lamp-status.on{
  font-weight: bold;
  color: yellow;
}

.logo, .room-number, .time, .date, .wifi {
  padding: 10px;
  background-color: #3a74a3;
  border-radius: 5px;
}

.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.popup h2, p{
  font-size: 14px;
  margin: 5px;
}

.popup-content {
  background-color: #3a74a3;
  padding: 20px;
  border: 1px solid #888;
  width: 250px; /* Fixed width */
  height: 250px; /* Fixed height */
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.qr-code img {
  width: 150px; /* Adjust size as needed */
  height: 150px; /* Adjust size as needed */
  margin: 5px;
}
