/* Reset margin and padding */
* {
  margin: 0;
  padding: 0;
}

button{
  border: none;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dashboard {
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  display: flex;
  flex-direction: column;
  background-color: #134B70;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Prevents scrollbars */
}

.top, .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.top {
  height: 10%; /* Adjust based on content */
}

.bottom {
  height: 10%; /* Adjust based on content */
}

.center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.slider-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.slider-btn {
  background-color: #201E43;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  font-size: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

#slider {
  width: 160px;
  height: 160px;
  margin: 0 25px;
}

.status-indicators {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 40px;
}

.rs-control .rs-tooltip {
  font-size: 3em;
}

.rs-control .rs-range-color {
  background-color: #201E43;
}

.rs-control .rs-bg-color {
  background-color: #134B70;
}

.status-icon {
  width: 100px;
  height: 100px;
  background-color: #e9f5ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #201E43;
  font-size: 2.5em;
  cursor: pointer;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fan-mode {
  display: inline-block;
}

.fan-mode.low {
  animation: spin-low 2s linear infinite;
}

.fan-mode.medium {
  animation: spin-medium 1s linear infinite;
}

.fan-mode.high {
  animation: spin-high 0.5s linear infinite;
}

.fan-mode.auto {
  /* No animation for AUTO mode, display "AUTO" */
  animation: none;
}

/* Smooth continuous rotation */
@keyframes spin-low {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes spin-medium {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes spin-high {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.current-status {
  font-size: 2em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.current-temp, .lamp-status {
  margin: 0 30px;
  width: 40%;
  background-color: #201E43;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2em;
}

.current-temp i {
  margin-right: 5px;
}

.lamp-status i {
  margin-right: 5px;
  font-size: 1.5em;
}

.lamp-status.on {
  font-weight: bold;
  color: yellow;
}

.logo, .room-number, .time, .date, .wifi {
  padding: 15px;
  background-color: #3a74a3;
  border-radius: 5px;
  font-size: 1.5em;
}

.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.popup h2, p {
  color: #201E43;
  font-size: 28px;
  margin: 15px;
}

.popup-content {
  background-color: #b3c4d2;
  padding: 20px;
  border: 1px solid #888;
  width: 500px; /* Fixed width */
  height: 500px; /* Fixed height */
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.qr-code img {
  width: 300px; /* Adjust size as needed */
  height: 300px; /* Adjust size as needed */
  margin: 5px;
}
