body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dashboard {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #6375ae;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top, .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.top {
  height: 50px;
}

.bottom {
  height: 50px;
}

.center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.slider-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.slider-btn {
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

#slider {
  width: 160px;
  height: 160px;
}

.status-indicators {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

.rs-control .rs-bg-color {
  background-color: #6375ae;
}

.status-icon {
  width: 60px;
  height: 60px;
  background-color: #e9f5ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0056b3;
  font-size: 0.8em;
  cursor: pointer;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.current-status {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.current-temp, .lamp-status {
  width: 48%;
  background-color: #0056b3;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.logo, .room-number, .time, .date {
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
}
